header{
    height: 200px;
    width: 100%;
    background-color: black;
}
main{
    height: 200px;
    width: 100%;
    background-color: green;
}
footer{
    
    height: 200px;
    width: 100%;

    background-color: blue;
}
